workflows/support-workflow.json
{
  "name": "Support Client Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "expression": "*/30"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getUpdates",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "application": "={{$env.AIRTABLE_BASE_ID}}",
        "table": "={{$env.AIRTABLE_TABLE_NAME}}",
        "options": {}
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_BUSINESS_CHAT_ID}}",
        "text": "=Nouvelle demande client :\nNom: {{$node[\"Telegram\"].json[\"message\"][\"from\"][\"first_name\"]}}\nMessage: {{$node[\"Telegram\"].json[\"message\"][\"text\"]}}\nCanal: Telegram",
        "additionalFields": {}
      },
      "name": "Notify Business",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "Merci pour votre message ! Nous l'avons bien reçu et nous vous répondrons dans les plus brefs délais.",
        "additionalFields": {}
      },
      "name": "Auto Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Notify Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}